---
import Container from "@components/layout/Container.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

import { getAlbumImages } from "../../utils/albums";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const albums = await getCollection("albums");

  const paths = Object.values(albums).map(album => {
    return {
      params: {
        id: album.id,
      },
      props: {
        album,
      },
    };
  });

  return paths;
}

const { album } = Astro.props;
const images = await getAlbumImages(album.id);
---

<BaseLayout title="BetaSec">
  <Container>
    <div class="my-16 mb-32 text-center">
      <h1 class="mb-8 text-5xl font-bold">
        {album.data.title}
      </h1>
      <div class="container mx-auto my-8 sm:columns-2 md:columns-3 lg:columns-4 xl:columns-5">
        {
          images.map(image => (
            <a
              href={image.src}
              data-pswp-width={image.width}
              data-pswp-height={image.height}
              class="mb-4 block"
            >
              <Image
                src={image}
                alt={`Image from ${album.data.title} album`}
                quality="mid"
                class="rounded-sm border border-transparent transition-all duration-300 ease-in-out hover:border-gray-300 hover:shadow-lg"
                loading="lazy"
              />
            </a>
          ))
        }
      </div>
      <p class="my-4 text-center text-lg">
        <a href="/gallery/" class="text-white hover:underline">Go back →</a>
      </p>
    </div>
  </Container>
</BaseLayout>
